<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNAB</title>
</head>
<body style="display: flex; flex-direction: column; max-width: 400px; margin: 0 auto; text-align: center;">
    <h1>Insira seu arvivo CNAB</h1>
    <table style="text-align: center; margin-bottom: 20px;">
        <tr>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Natureza</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Débito</td>
            <td>Entrada</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Boleto</td>
            <td>Saída</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Financeamento</td>
            <td>Saída</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Crédito</td>
            <td>Entrada</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Recebimento empréstimo</td>
            <td>Entrada</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Vendas</td>
            <td>Entradas</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Recebimento TED</td>
            <td>Entrada</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Recebimento DOC</td>
            <td>Entrada</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Aluguel</td>
            <td>Saída</td>
        </tr>
    </table>
    <form style="display: flex; flex-direction: column; justify-content: center; align-items: center;" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" />
        <button  type="submit">Upload</button>
    </form>
</body>
</html>
